@using BlazorAppEC.Shared
@inject ILocalStorageService _localStorage
@inject IToastService _toastService
@implements IDisposable

@inject ICartService _cartService
<NavLink href="@($"product/{product.Slug}")" class="h-full grow w-full flex">
    <img src="@product.Image" alt="HP Chromebook 11" class="max-w-sm max-h-80 object-contain my-auto" />
</NavLink>
<div class="content mt-auto">
    <h1 class="h4">@product.Name</h1>
    <p class="price">@(String.Format("{0:n0}", product.Price)) <sup>vnd</sup></p>
    <label></label>

    <NavLink href="@($"product/{product.Slug}")" class="btn btn-link"> Details</NavLink>
    <button class="btn btn-primary btn-rounded btn-sm" @onclick="() => _cartService.AddToCart(product)"> <i class="ion-bag"></i> Add to cart</button>
</div>


@code {
    [Parameter] public Product product { get; set; }
    protected override void OnInitialized()
    {
        _cartService.OnChange += StateHasChanged;
    }
    public void Dispose() {
        _cartService.OnChange -= StateHasChanged;
    }

}