@inject ICartService _cartService

<div class="media">
    <div class="media-left">
        <a href="#">
            <img class="media-object" src="@product.Image" alt="@product.Slug" />
        </a>
    </div>
    <div class="media-body">
        <h2 class="h4 media-heading">@product.Name</h2>
        <label></label>
        <p class="price">
            @(String.Format("{0:n0}", product.Price)) <sup>vnd</sup>
        </p>
    </div>
    <div class="controls">
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" @onclick="() => decrease?.Invoke()"><i class="ion-minus-round"></i></button>
            </span>
            <input type="text" class="form-control input-sm" placeholder="Qty" value="@product.Quantity" readonly="">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" @onclick="() => increase?.Invoke()"><i class="ion-plus-round"></i></button>
            </span>
        </div><!-- /input-group -->

        <a @onclick="() => deleteItem?.Invoke()"> <i class="ion-trash-b"></i> Xoá </a>
    </div>
</div>

@code {
    [Parameter] public Product product { get; set; }
    [Parameter] public Action deleteItem {get; set;}
    [Parameter] public Action increase {get; set;}
    [Parameter] public Action decrease {get; set;}
}