@page "/admin/order-manage/{orderId?}"
@inject IOrderDetailVM _orderDetailVM
@inject IToastService _toast

<BlazorAppEC.Client.Shared.Components.Admin.AdminNavBar />
<main class="px-10">
    <div class="py-2 mt-3 flex divide-gray-400 divide-x space-x-3">
        <div class="">
            <div class="text-gray-500 font-medium">Mã</div>
            <div class="text-2xl font-semibold">
                @orderId
            </div>
        </div>
        <div class="pl-3">
            <div class="text-gray-500 font-medium">Trạng thái thanh toán</div>
            <div class="text-@(_orderDetailVM.Order.Status == 1 ? "green" : "yellow")-500 font-medium text-2xl">
                @(_orderDetailVM.Order.Status == 1 ? "Đã thanh toán" : "Chưa thanh toán")
            </div>
        </div>
    </div>
    <p class="block mb-6">@_orderDetailVM.Order.CreateAt</p>
    <div class="grid grid-cols-4 gap-4">
        <div class="col-span-3 shadow rounded">
            <h3 class="font-bold p-3 text-lg text-gray-800 border-b">Danh sách sản phẩm đặt mua</h3>
            <div class="grid grid-cols-10">
                <div class="bg-gray-50 text-sm col-span-4"></div>
                <div class="bg-gray-50 text-sm py-2 text-gray-700 font-medium">Số lượng</div>
                <div class="bg-gray-50 text-sm py-2 text-gray-700 font-medium col-span-3 text-center">Giá</div>
                <div class="bg-gray-50 text-sm py-2 text-gray-700 font-medium col-span-2 text-center">Thành tiền</div>
            </div>
            <div>
                @foreach (var item in _orderDetailVM.OrderDetail)
                {
                    <div class="grid grid-cols-10">
                        <div class="col-span-4 p-2 flex">
                            <div class="w-14">
                                <img class="max-w-full" src="@item.Product.Image" alt="">
                            </div>
                            <div class="pl-2 pt-2 grid place-items-center">
                                <h3 class="">
                                    @item.Product.Name
                                </h3>
                            </div>
                        </div>
                        <div class="grid place-items-center">
                            @item.Quantity
                        </div>
                        <div class="col-span-3 grid place-items-center">
                            <div>
                                @(String.Format("{0:n0}", @item.Price))
                                <sup>vnd</sup>
                            </div>
                        </div>
                        <div class="grid place-items-center col-span-2">
                            <div>
                                @(String.Format("{0:n0}", item.Price * item.Quantity))
                                <sup>vnd</sup>
                            </div>
                        </div>
                    </div>
                }
            </div>
            @if (_orderDetailVM.Order.Status == 0 && _orderDetailVM.OrderDetail.Count() > 0)
            {
                <div class="col-span-8 border-t px-4 py-3 flex">
                    <a @onclick="confirmOrder" class="bg-gray-500 hover:bg-gray-600 transition-all text-white px-3 py-2 ml-auto cursor-pointer">Xác nhận đã thanh toán</a>
                </div>
            }
        </div>
        <div class="">
            <div class="shadow rounded">
                <h3 class="font-bold py-3 px-4 text-lg text-gray-800 border-b">Thông tin người mua</h3>
                <div class="px-4 py-2">
                    <a href="" class="py-3 text-lg">
                        @_orderDetailVM.User.Fullname
                    </a>
                    <div class="flex justify-between my-1">
                        <span class="">SDT</span>
                        <span class="font-bold">
                            @_orderDetailVM.User.Phone
                        </span>
                    </div>
                </div>
                <div class="border-t">
                    <h3 class="font-bold py-2 px-4 text-lg text-gray-800">Địa chỉ giao hàng</h3>
                    <p class="px-4">
                        @_orderDetailVM.User.Address
                    </p>
                </div>
            </div>
        </div>

        <div class="col-span-3 shadow rounded mb-10">
            <h3 class="font-bold p-3 text-lg text-gray-800 border-b">Thông tin thanh toán</h3>
            <div class="grid grid-cols-2 gap-3 p-3">
                <div>Số lượng sản phẩm</div>
                <div>
                    @_orderDetailVM.OrderDetail.Select(o => o.Quantity).Sum()
                </div>
                <div>
                    Tổng tiền
                </div>
                <div>
                    @(String.Format("{0:n0}", _orderDetailVM.OrderDetail.Select(o => o.Price * o.Quantity).Sum())) <sup>vnd</sup>
                </div>
                <div>
                    Giảm Giá (Mã #11213123)
                </div>
                <div>
                    0 <sup>vnd</sup>
                </div>
                <div class="font-bold">Tổng giá trị đơn hàng</div>
                <div>
                    @(String.Format("{0:n0}", _orderDetailVM.OrderDetail.Select(o => o.Price * o.Quantity).Sum()))
                    <sup>vnd</sup>
                </div>
                <div>Đã thanh toán</div>
                <div>
                    @if (_orderDetailVM.Order.Status == 1)
                    {
                        @(String.Format("{0:n0}", _orderDetailVM.OrderDetail.Select(o => o.Price * o.Quantity).Sum()))
                    }
                    else
                    {
                        <span>0</span>
                    }
                    <sup> vnd</sup>
                </div>
            </div>
        </div>
    </div>
</main>
@code {
    [Parameter]
    public string orderId { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await _orderDetailVM.InitOrder(Int32.Parse(orderId));
    }
    public async Task confirmOrder()
    {
        bool confrimSuccess = await _orderDetailVM.ConfirmOrder(Int32.Parse(orderId));
        if (confrimSuccess)
        {
            _toast.ShowSuccess("", "Updated Successfuly");
        }
        else
        {
            _toast.ShowError("", "Try Again");
        }
        StateHasChanged();
    }
}
